<template name="CrearPartido">
	<div class="form-group">
		<input type="text" datetime name="date" placeholder="¿Cuándo jugamos?" class="form-control">
	</div>	
	<div class="form-group">
		<input type="number" class="form-control" name="cuantos" placeholder="¿Cancha de cuántos jugadores?">
	</div>
	<div class="form-group">
		<label for="is_cancha">¿Ya tenés dónde jugar? <input type="checkbox" checked id="is_cancha"></label>
	</div>
	<button type="button" data-action="submit" class="btn btn-block btn-primary">Siguiente</button>
</template>